.banner{
  text-align: center;
  color: white;
  padding: 130px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url(https://media.discordapp.net/attachments/1113153070998765661/1300443864850763776/banner.jpg?ex=6720dc3a&is=671f8aba&hm=d7501960482b4f2771b23be9342bf87f747f271499dfa8a5f75ad70edbf8952e&=&format=webp&width=879&height=495);
  background-size: cover;
  background-position: center;
}



.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
  color: rgb(29, 240, 236);
  text-shadow: 1px 1px 2px black;
  font-family: 'Abril Fatface', serif;
}

.banner h1 {
  font-size: 60px;
  font-weight: lighter;
  margin-bottom: 20px;
  color: rgb(173, 18, 224);
  font-family: 'Abril Fatface', serif;
}

.banner-item {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.banner-item:hover {
    text-decoration: underline;
}
